groups:
- name: prometheus-alerts
  rules:
  - alert: FailedReload
    expr: prometheus_config_last_reload_successful == 0
    for: 1m
    labels:
      severity: warning
    annotations:
      description: Reloading Prometheus configuration has failed for {{ '{{' }} $labels.namespace {{ '}}' }} {{ '{{' }} $labels.pod {{ '}}' }}.
      summary: Prometheus configuration reload has failed
- name: Instances
  rules:
  - alert: InstanceDown
    expr: up == 0
    for: 1m
    labels:
      severity: alert
    # Prometheus templates apply here in the annotation and label fields of the alert.
    annotations:
      description: '{{ '{{' }} $labels.instance {{ '}}' }} of job {{ '{{' }} $labels.job {{ '}}' }} has been down for more than 1 minutes.'
      summary: 'Instance {{ '{{' }} $labels.instance {{ '}}' }} down.'