[Unit]
Description=Prometheus systemd service unit
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/sbin/prometheus \
--config.file=/etc/prom/prometheus.yml \
--storage.tsdb.path=/var/lib/prom/data \
--storage.tsdb.retention=14d \
--web.listen-address=0.0.0.0:9090 \
--web.external-url=http://ns.otus.test:8080/prometheus/ \
--web.route-prefix=/ \
--web.console.templates=/etc/prom/consoles \
--web.console.libraries=/etc/prom/console_libraries
SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target