# sysconfig atop
#

# Current Day format
CURDAY=`date +%Y%m%d`

# Log files path
LOGPATH={{ atop_log_path }}

# Binaries path
BINPATH={{ atop_bin_path }}

# PID File
PIDFILE={{ atop_pid_file }}

# interval (default 10 minutes)
INTERVAL= {{ atop_polling_interval }}
