# "local" is for Unix domain socket connections only
local   all             all                                     peer
host    bacula          bacula          127.0.0.1/32            md5
host    bacula          bacula          ::1/128                 md5
# IPv4 local connections:
host    all             all             127.0.0.1/32            ident
# IPv6 local connections:
host    all             all             ::1/128                 ident
# Allow replication connections from localhost, by a user with the
# replication privilege.
local   replication     all                                     peer
host    replication     all             127.0.0.1/32            ident
host    replication     all             ::1/128                 ident