[mysqld]
default-authentication-plugin=mysql_native_password

# ssl-ca=ca1.pem
# ssl-cert=server-cert1.pem
# ssl-key=server-key1.pem
# mysqlx-ssl-ca=ca2.pem
# mysqlx-ssl-cert=server-cert2.pem
# mysqlx-ssl-key=server-key2.pem

