{% for host in pg_hosts %}
{% if host.alias == anshostname %}
scope: otus
name: {{ host.alias }}
    
restapi:
  listen: {{ host.ip }}:8008
  connect_address: {{ host.ip }}:8008

etcd:
  {% for etcd in etcd_hosts %}
  host: {{ etcd.ip }}:2379
  {% endfor %}

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true

  initdb:
  - encoding: UTF8
  - data-checksums

  pg_hba:
  - host replication replication 127.0.0.1/32 md5
  {% for pg_host in pg_hosts %}
- host replication replication {{ pg_host.ip }}/0 md5
  {% endfor %}
- host all all 0.0.0.0/0 md5

  users:
    admin:
      password: admin
      options:
        - createrole
        - createdb

postgresql:
  listen: {{ host.ip }}:5432
  bin_dir: {{ pg_bin_dir }}
  connect_address: {{ host.ip }}:5432
  data_dir: {{ pg_database_dir }}
  pgpass: /tmp/pgpass
  authentication:
    replication:
      username: replication
      password: replication
    superuser:
      username: postgres
      password: postgres
  parameters:
    unix_socket_directories: '.'

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
{% endif %}
{% endfor %}