[Unit]
Description=SSH wrong username monitoring, run every 30 seconds
Wants=monitor-timer.timer

[Service]
Type=notify
EnvironmentFile=/etc/sysconfig/monitor
ExecStart=/bin/bash -c '/bin/cat $LOGFILE | /bin/grep $WORD'

[Install]
WantedBy=monitor-timer.target