[Unit]
Description=Start and stop FastCGI processes
After=network.target httpd.service
Wants=httpd.service

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/spawn-fcgi
ExecStart=/bin/spawn-fcgi $OPTIONS
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target