<!DOCTYPE html>
<html>
  <head>
    <title>Index of {{ server_name }} server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h3>This is main page of server {{ server_name }}</h3>
    <p>Server name: {{ server_name }}.</p>
    <p>Server ip: {{ server_ip }}.</p>
  </body>
</html>