ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="http://{{ etcd_hostname }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://localhost:2379,http://{{ etcd_hostname }}:2379"
ETCD_NAME="etcd0"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ etcd_hostname }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ etcd_hostname }}:2379"
ETCD_INITIAL_CLUSTER="etcd0=http://{{ etcd_hostname }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="otus"
ETCD_INITIAL_CLUSTER_STATE="new"