global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
  - scheme: http
    timeout: 10s
  - static_configs:
    - targets:
      - localhost:9093
rule_files:
  - {{ prom_conf_dir }}/alert.rules
scrape_configs:
  - job_name: nodes
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: http
    static_configs:
    - targets:
      - node1:9100
      labels:
        server: nodes
    - targets:
      - node2:9100
      labels:
        server: nodes
  - job_name: master
    scrape_interval: 5s
    scrape_timeout: 5s
    metrics_path: /prometheus/metrics
    scheme: http
    static_configs:
    - targets:
      - {{ ansible_fqdn }}
      labels:
        server: prometheus